---
import { getCollection } from "astro:content";
import type { Props } from "astro";
import Layout from "@layouts/Layout.astro";
import { getLangFromUrl, useTranslations } from "@i18n/utils";

export const getStaticPaths = async () => {
  const bands = await getCollection("bands");
  return bands.map((b: any) => {
    const [lang, id] = b.id.split("/");
    return { params: { lang, bandId: id }, props: b };
  });
};

const band: any = Astro.props as Props;
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title={t("band.page.title") + band.data.bandName}>
  <h1>{t("band.page.title")} {band.data.bandName}!</h1>
  <p>{t("band.page.genraLabel")}: {band.data.genre}</p>
  <p>{t("band.page.fanLabel")}: {band.data.fan}</p>
</Layout>
