---
import { getLangFromUrl, useTranslations } from "@i18n/utils";
import { languages } from "@i18n/ui";
import Layout from "@layouts/Layout.astro";
import Hero from "@components/Hero.astro";
import "@styles/container.scss";

export const getStaticPaths = () =>
  Object.keys(languages).map((l) => ({ params: { lang: l } }));

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title={t("index.title")}>
  <main>
    <Hero />
    <article class="container">
      <h1>{t("index.title")}</h1>
      <div>
        <p>{t("hero.text-1")}</p>
      </div>
    </article>
    <article class="container container--secondary">
      <h1>{t("index.title")}</h1>
      <div>
        <p>{t("hero.text-1")}</p>
      </div>
    </article>
  </main>
</Layout>

<style></style>
