---
import { useTranslations } from "@i18n/utils";
import { languages } from "@i18n/ui";
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import Hero from "@components/Hero.astro";

export const getStaticPaths = () =>
  Object.keys(languages).map((l) => ({ params: { lang: l } }));

const lang = Astro.params.lang as "fr" | "en";
const t = useTranslations(lang);
---

<Layout title={t("index.title")}>
  <main>
    <Hero />
    <Container title={t("index.title")}>
      <p class="container__item--end" slot="content">{t("hero.text-1")}</p>
    </Container>
    <Container containerClasses="container--secondary" title={t("index.title")}>
      <p class="container__item" slot="content">{t("hero.text-1")}</p>
    </Container>
  </main>
</Layout>

<style></style>
