---
import "@styles/footer.scss";
---

<footer class="container footer">
  <div class="container__wrapper">
    <div class="footer__content">
      <div class="footer__item footer__item--a">
        GLYPH
        <p>hello@glyph.be</p>
      </div>
      <a class="footer__item footer__item--b">Services</a>
      <a class="footer__item footer__item--c">Blog</a>
      <a class="footer__item footer__item--d">Formation</a>
      <a class="footer__item footer__item--e">Ressources</a>
    </div>
  </div>
</footer>
