<header>
  <nav aria-labelledby="mainmenu">
    <ul>
      <li>
        <a href="/fr">Home</a>
      </li>
      <li>
        <a href="/fr/content">Contents</a>
      </li>
    </ul>
  </nav>

  <a href="/fr">FR</a>
  <a href="/en">EN</a>
</header>
