---
import { getLangFromUrl } from "@i18n/utils";
import "@styles/header.scss";
const lang = getLangFromUrl(Astro.url);
---

<header>
  <nav class="navbar" aria-labelledby="mainmenu">
    <ul class="navbar__list">
      <li>
        <a class="navbar__link" href={`${lang}`}>Home</a>
      </li>
      <li>
        <a class="navbar__link" href={`${lang}/content`}>Contents</a>
      </li>
    </ul>
  </nav>
</header>
