---
import { getLangFromUrl, useTranslations } from "@i18n/utils";
import Container from "@components/Container.astro";
import "@styles/hero.scss";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Container containerClasses="container--primary">
  <h1 class="hero__title" slot="header">{t("index.title")}</h1>
  <div class="hero__content" slot="content">
    <p>{t("hero.text-1")}</p>
    <p>{t("hero.text-2")}</p>
  </div>
</Container>
