---
import { languages } from "@i18n/ui";
import { getLangFromUrl } from "@i18n/utils";

const currentPath = Astro.url.pathname;
const currentLang = getLangFromUrl(Astro.url);

const [lang, label] = Object.entries(languages).find(
  ([lang]) => lang !== currentLang
) || ["", ""];
let langReplacement = "/" + lang;
let rootLangPath = `/${currentLang}`;
if (!currentPath.endsWith(rootLangPath)) {
  rootLangPath += "/";
  langReplacement += "/";
}
const langPath = {
  path: currentPath.replace(rootLangPath, langReplacement),
  label,
};
---

<a class="button" href={langPath.path}>{langPath.label}</a>
