---
import { languages } from "@i18n/ui";
import { getLangFromUrl } from "@i18n/utils";

const currentPath = Astro.url.pathname;
const currentLang = getLangFromUrl(Astro.url);
const currentLangPath = `/${currentLang}/`;
---

<ul>
  {
    Object.entries(languages).map(([lang, label]) => (
      <li>
        <a href={currentPath.replace(currentLangPath, `/${lang}/`)}>{label}</a>
      </li>
    ))
  }
</ul>
