---
import { getCollection, getEntry } from "astro:content";
import Layout from "@layouts/Layout.astro";

export async function getStaticPaths() {
  const bands = await getCollection("bands");
  return bands.map((b: any) => ({ params: { bandId: b.id } }));
}

const { bandId } = Astro.params;
const band = await getEntry("bands", bandId);
---

<Layout title={"Content: " + band.data.bandName}>
  <h1>{band.data.bandName}!</h1>
  <p>Genre: {band.data.genre}</p>
  <p>Fan: {band.data.fan}</p>
</Layout>
