.container {
  display: block;
  width: 100%;
  padding: 3rem 2rem;
  box-sizing: border-box;
}

.container--primary {
  background-color: var(--primary-color);
  color: var(--primary-alt-color);
}

.container--secondary {
  background-color: var(--secondary-color);
  color: var(--secondary-alt-color);
}

.container__wrapper {
  max-width: var(--container-size);
  margin: auto;
}

.container__content {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.container__item {
  grid-column: 1 / 5;
}

.container__item--end {
  grid-column: 3 / 7;
}