.navbar__list {
  list-style: none;
  background-color: var(--primary-color);
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 1rem;
}

.navbar__link {
  display: block;
  padding: var(--content-spacing-1);
  color: var(--primary-alt-color);
  text-decoration: none;
}