.header {
  background-color: var(--primary-color);
  padding: var(--content-spacing-1);
  color: var(--primary-alt-color);
  display: flex;
}

.navbar {
  flex-grow: 1;
}

.navbar__list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin: 0;
}

.navbar__link {
  display: block;
  padding: var(--content-spacing-1);
  text-decoration: none;
  color: var(--primary-alt-color); // TODO Maye move this to a general rule about links ?
}