.navbar {
  ul {
    list-style: none;
    background-color: var(--button-color);
    display: flex;
  }

  a {
    display: block;
    padding: var(--content-spacing-1);
    color: var(--button-text-color);
    &:hover {
      background-color: var(--button-hover-color);
    }
  }
}