:root {
  --bg-color: #004643;
  --headline-color: #fffffe;
  --text-color: #abd1c6;
  --button-color: #f9bc60;
  --button-hover-color: hsl(36, 50%, 68%);
  --button-text-color: #001e1d;

  // sizes & spaces
  --content-spacing-1: 15px;
}
