:root {
  --bg-color: #FFFEF1;
  --primary-color: #11372A;
  --secondary-color: #ACDBF7;
  --bg-alt-color: #11372A;
  --primary-alt-color: #E7E9D3;
  --secondary-alt-color: #11372A;

  // sizes & spaces
  --content-spacing-1: 1rem;
  --container-size: 992px;
}
